<!-- Start onova_main section -->
<section class="onova_main onova_main_2">
    <div class="home_slider">
        <div class="single_slider bg_image" style="background-image: url(assets/images/house.jpg);">
            <div class="onova_overley_2"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="onova_main_content onova_main_content_2">
                            <span>Real Estate Photography Logistics</span>
                            <h1>Grow Your<br>Business.</h1>
                        </div>
                        <div class="onova_main_button">
                            <a href="https://app.photog.tech" class="onova_btn onova_btn_2 main_btn_1">Login</a>
                            <a href="#contact" class="onova_btn onova_btn_2 main_btn_1">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End onova_main section -->